<html>
<head>
	<title>Signout</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="signout2.css">
</head>
<body>
<nav class="navbar navbar-default">
<div class="container-fluid">
<ul class="nav navbar-nav nav1">
<li><a href="/teacherhome" id="alink">Dashboard</a></li>
        <li><a href="teacheradd" id="alink">Add students</a></li>
      <li><a href="/teacheratt" id="attlink">Attendance</a></li> 
</ul>
<ul class="nav navbar-nav navbar-right">
     <li><a href="/teachersignout" id="logoutlink">Signout</a></li> 
   </ul>
  </div>
	
</nav>
<a href="/signout2"><button type="button" class="btn btn-danger">Signout</button></a>
</body>
</html>